<!doctype html>
<html>
  <head>
    {{#head}}
    <title>{{title}}</title>
    {{/head}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <header>
        <h1>Departures<span id="origin"></span></h1>
        <input type="text" id="search-station" placeholder="Search station" />
        <button class="btn" type="submit" id="search">Search</button>
        <p id="previous-searches"></p>
        <h3 id="searched-station"></h3>
    </header>
    <section class="schedule">
      <div class="schedule-headers">
          <div class="container">
            <div class="information">Train information</div>
            <div class="timing">Status</div>            
        </div>
      </div>
      <div id="train-information">
        <p>Search for departure station</p>
      </div>

    </section>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="/assets/script.js"></script>    
  </body>
</html>
